body {
  background: rgba(158, 183, 201, 0.596);
  margin: 2em;
  padding: 30px;
  text-transform: uppercase;
  font-size: 1.2em;
}

.header-one {
  color: rgba(52, 57, 61, 0.75);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-two {
  color: rgba(52, 57, 61, 0.75);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-three {
  color: rgba(52, 57, 61, 0.75);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}
.header-four {
  color: rgba(52, 57, 61, 0.75);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-five {
  color: rgba(52, 57, 61, 0.75);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-six {
  color: rgba(52, 57, 61, 0.75);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-seven {
  color: rgba(52, 57, 61, 0.75);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-eight {
  color: rgba(52, 57, 61, 0.75);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-nine {
  color: rgba(52, 57, 61, 0.75);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-ten {
  color: rgba(52, 57, 61, 0.75);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}
