body {
  background: rgba(21, 126, 196, 0.568);
  margin: 2em;
  padding: 30px;
  text-transform: uppercase;
  font-size: 1.2em;
}

.header-one {
  color: rgba(0, 97, 161, 0.959);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-two {
  color: rgba(0, 97, 161, 0.959);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-three {
  color: rgba(0, 97, 161, 0.959);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-four {
  color: rgba(0, 97, 161, 0.959);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-five {
  color: rgba(0, 97, 161, 0.959);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-six {
  color: rgba(0, 97, 161, 0.959);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-seven {
  color: rgba(0, 97, 161, 0.959);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-eight {
  color: rgba(0, 97, 161, 0.959);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-nine {
  color: rgba(0, 97, 161, 0.959);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-ten {
  color: rgba(0, 97, 161, 0.959);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}
