body {
  background: rgba(24, 112, 146, 0.6);
  margin: 2em;
  padding: 30px;
  text-transform: uppercase;
  font-size: 1.2em;
}

.header-one {
  color: rgba(12, 61, 80, 0.8);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-two {
  color: rgba(12, 61, 80, 0.8);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}
.header-three {
  color: rgba(12, 61, 80, 0.8);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-four {
  color: rgba(12, 61, 80, 0.8);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-five {
  color: rgba(12, 61, 80, 0.8);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-six {
  color: rgba(12, 61, 80, 0.8);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-seven {
  color: rgba(12, 61, 80, 0.8);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-eight {
  color: rgba(12, 61, 80, 0.8);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-nine {
  color: rgba(12, 61, 80, 0.8);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}

.header-ten {
  color: rgba(12, 61, 80, 0.8);
  font-weight: normal;
  font-size: larger;
  text-indent: 13%;
  font-family: fantasy;
}
